<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919447109061-vr5n0tumhvkekc3nd4kn1e3i9k8a4il1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919447109061-vr5n0tumhvkekc3nd4kn1e3i9k8a4il1</string>
	<key>API_KEY</key>
	<string>AIzaSyAIZW3_dOvqQ0vErFWTebPQTKd7eFbOAOI</string>
	<key>GCM_SENDER_ID</key>
	<string>919447109061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esame.sad</string>
	<key>PROJECT_ID</key>
	<string>esamesad-236be</string>
	<key>STORAGE_BUCKET</key>
	<string>esamesad-236be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919447109061:ios:61416c76a53a7472131fac</string>
</dict>
</plist>